@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto-bold';
    src: url(/fonts/roboto-bold.woff) format("woff"), 
         url(/fonts/roboto-bold.woff2) format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto-regular';
    src: url(/fonts/roboto-regular.woff) format("woff"), 
         url(/fonts/roboto-regular.woff2) format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto-medium';
    src: url(/fonts/roboto-medium.woff) format("woff"), 
         url(/fonts/roboto-medium.woff2) format("woff2");
    font-display: swap;
  }

  
  :root {
    --primary: 255 255 255;
    --secondary: 242 242 242;
    --accent: 53 206 255;
    --content: 0 0 0;
    --darkblue: 22 25 34;
  }
  
  .dark{
    --primary: 25 29 40;
    --secondary: 22 22 22;
    --accent: 254 204 115;
    --content: 255 255 255;
    --darkblue: 22 25 34;
  }



  @layer base {

    html {
      @apply scroll-smooth
    }

    body {
        @apply bg-primary text-content font-regular overflow-x-hidden
    }

    a {
        @apply text-content
    }

    ul {
        @apply list-none 
      }
    
    img {
        @apply block w-full h-auto
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-bold text-content font-thicker
      }

    .container {
        @apply px-[224px] ;
    }

  }

  @layer components {
    .tab-link {
      @apply px-3 py-5
    }

    .tab-link.active {
      @apply border-b border-accent
    }

    .tab-link.active a {
      @apply text-accent
    }

    .service-area .single-service-box:before {
      @apply absolute left-0 top-0 w-full h-full content-[''] scale-0 [transition:all_0.3s_ease-in] bg-[#2b2b2b] invisible opacity-0 text-center
      
    }

  }


  .slick-slide {
      @apply px-5
  }

  .slick-dots {
    @apply right-6 bottom-[-45px]
  }

  .slick-dots li.slick-active button:before {
    @apply text-accent
  }

  .slick-dots li button:before {
    @apply text-sm
  }


  /* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fecc73; }
}


.portfolio-name {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #fecc73; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */

  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
