@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto-bold';
    src: url(/fonts/roboto-bold.woff) format("woff"), 
         url(/fonts/roboto-bold.woff2) format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto-regular';
    src: url(/fonts/roboto-regular.woff) format("woff"), 
         url(/fonts/roboto-regular.woff2) format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto-medium';
    src: url(/fonts/roboto-medium.woff) format("woff"), 
         url(/fonts/roboto-medium.woff2) format("woff2");
    font-display: swap;
  }

  
  :root {
    --primary: 255 255 255;
    --secondary: 242 242 242;
    --accent: 53 206 255;
    --content: 0 0 0;
    --darkblue: 22 25 34;
  }
  
  .dark{
    --primary: 25 29 40;
    --secondary: 22 22 22;
    --accent: 254 204 115;
    --content: 255 255 255;
    --darkblue: 22 25 34;
  }



  @layer base {
    body {
        @apply bg-primary text-content font-regular 
    }

    a {
        @apply text-content
    }

    ul {
        @apply list-none 
      }
    
    img {
        @apply block w-full h-auto
    }

    h1,h2,h3,h4,h5,h6 {
        @apply font-bold text-content font-thicker
      }

    .container {
        @apply px-[224px] ;
    }

  }

  @layer components {
    .tab-link {
      @apply px-3 py-5
    }

    .tab-link.active {
      @apply border-b border-accent
    }

    .tab-link.active a {
      @apply text-accent
    }

  }


  .slick-slide {
      @apply px-5
  }

